body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    margin-top: 100px;
    background-color: #ffffee;
}
.container{
    max-width: 800px !important;
}
form#searchForm {
    background: rgba(0, 79, 215, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#toastContainer {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toast {
    width: 500px !important;
    opacity: 1 !important;
    background-color: #00042b !important; 
    color: rgb(255, 255, 255) !important; 
}
